@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../public/image/bgimage.jpg");
}

.container {
  font-family: "Playfair Display", serif;
}

li:hover {
  border-radius: 10px;
  background-color: rgb(222, 232, 235);
}

i:hover {
  border-radius: 10px;
  background-color: lightblue;
}

.card {
  width: 300px;
  text-align: center;
  height: 550px;
  background-color: blue;
}
.card-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
img {
  width: 100%;
}
.img-card {
  width: 200px;
}
.icons {
  font-size: 10rem;
}
.img-box {
  width: 50px;
  height: 50px;
}

.single-info {
  background-color: rgb(166, 171, 181);
}
.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  border-radius: 10px;
  border: 1px solid;
  padding: 0.5rem;
  font-family: "Playfair Display", serif;
}
.input-btn {
  margin-left: 10px;
}

span {
  text-align: center;
}

h6 {
  text-align: center;
}

.repo-detail {
  width: 350px;
  height: 700px;
  margin-bottom: 1rem;
}
.reset {
  text-align: center;
}

.btn-reset {
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}

.win-text {
  color: black;
}
